In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('Data/top100.csv')
df = df[["NOMBRE", "LINK"]]
df.head()

,NOMBRE,LINK
0,CORPORACION FAVORITA C.A.,https://ec.linkedin.com/company/corporacionfav...
1,ECUACORRIENTE,https://www.linkedin.com/company/ecuacorriente...
2,AURELIAN ECUADOR,https://www.linkedin.com/company/lundin-gold/?...
3,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES C...,https://ec.linkedin.com/company/conecel?trk=co...
4,CORPORACION QUIPORT,https://ec.linkedin.com/company/quiport?trk=co...

In [13]:
# There is unwanted whitespace in the "NOMBRE" column let's clean it
def clean_space(row):
  return row.strip()

df.NOMBRE = df.NOMBRE.apply(clean_space)

In [14]:
df.head()

,NOMBRE,LINK
0,CORPORACION FAVORITA C.A.,https://ec.linkedin.com/company/corporacionfav...
1,ECUACORRIENTE,https://www.linkedin.com/company/ecuacorriente...
2,AURELIAN ECUADOR,https://www.linkedin.com/company/lundin-gold/?...
3,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES C...,https://ec.linkedin.com/company/conecel?trk=co...
4,CORPORACION QUIPORT,https://ec.linkedin.com/company/quiport?trk=co...

In [18]:
df.to_csv('clean_top100.csv')