In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('Data/rankingSuperCias.csv', sep=';', encoding='latin') 
df.head()

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,2020,2019,EXPEDIENTE,NOMBRE,TIPO COMPAÑIA,ACTIVIDAD ECONÓMICA,REGION,PROVINCIA,CIUDAD,TAMAÑO,SECTOR,CANT. EMPLEADOS,ACTIVO2020,PATRIMONIO2020,INGRESOS POR VENTA2020,UTILIDAD ANTES DE 2020,UTILIDAD DEL EJERCICIO2020,UTILIDAD NETA2020,IR CAUSADO2020,INGRESO TOTAL2020
0,1.0,1,384.0,CORPORACION FAVORITA C.A.,ANÓNIMA,G4711.01 - VENTA AL POR MENOR DE GRAN VARIEDAD...,SIERRA,PICHINCHA ...,QUITO ...,GRANDE,MERCADO DE VALORES,"10,768.00","2,121,860,458.59","1,482,973,135.","2,170,602,774.","187,168,402.3","220,198,120.31","147,499,234.25","41,971,212.00","2,170,602,774.93"
1,2.0,4,6796.0,ECUACORRIENTE,ANÓNIMA,B0729.01 - EXTRACCIÓN Y PREPARACIÓN DE MINERAL...,ORIENTE,ZAMORA CHINCHIPE ...,EL PANGUI ...,GRANDE,SOCIETARIO,966.00,"1,607,423,376.00","568,986,647.0",0.00,"-1,387,158.70",0.00,"-2,633,855.70","1,246,697.02",0.00
2,3.0,3,93144.0,AURELIAN ECUADOR,ANÓNIMA,B0899.09 - EXTRACCIÓN DE OTROS MINERALES: ASBE...,ORIENTE,ZAMORA CHINCHIPE ...,LOS ENCUENTROS ...,GRANDE,SOCIETARIO,"1,451.00","1,599,727,165.00","605,293,529.0","358,792,587.0","-49,399,080.0","-49,399,080.00","-49,399,080.00",0.00,"358,823,965.00"
3,4.0,2,705547.0,SHAYA ECUADOR,ANÓNIMA,B0910.01 - ACTIVIDADES DE SERVICIOS DE EXTRACC...,SIERRA,PICHINCHA ...,QUITO ...,GRANDE,SOCIETARIO,92.00,"1,354,952,445.00","786,817,297.0","669,076,072.0","179,317,070.0","210,961,259.00","133,709,258.00","45,607,812.10","669,076,072.00"
4,5.0,5,47845.0,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES ...,ANÓNIMA,"J6120.01 - OPERACIÓN, MANTENIMIENTO O FACILITA...",COSTA,GUAYAS ...,GUAYAQUIL ...,GRANDE,SOCIETARIO,"2,844.00","1,217,718,379.00","264,709,114.0","1,066,241,897.","174,644,376.0","204,823,940.00","106,826,750.00","67,817,626.00","1,071,561,214.00"

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79044 entries, 0 to 79043
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   2020                        75678 non-null  float64
 1   2019                        75678 non-null  object
 2   EXPEDIENTE                  75678 non-null  float64
 3   NOMBRE                      75757 non-null  object
 4   TIPO COMPAÑIA               75678 non-null  object
 5   ACTIVIDAD ECONÓMICA         79009 non-null  object
 6   REGION                      75678 non-null  object
 7   PROVINCIA                   75685 non-null  object
 8   CIUDAD                      75689 non-null  object
 9   TAMAÑO                      78498 non-null  object
 10  SECTOR                      75680 non-null  object
 11  CANT. EMPLEADOS             75678 non-null  object
 12  ACTIVO2020                  75678 non-null  object
 13  PATRIMONIO2020              75678 non-null  object
 14  INGRESOS POR VENTA2020      75678 non-null  object
 15  UTILIDAD ANTES DE 2020      75678 non-null  object
 16  UTILIDAD DEL EJERCICIO2020  75678 non-null  object
 17  UTILIDAD NETA2020           75678 non-null  object
 18  IR CAUSADO2020              75678 non-null  object
 19  INGRESO TOTAL2020           75678 non-null  object
dtypes: float64(2), object(18)
memory usage: 12.1+ MB

In [21]:
df.dropna(inplace=True)
df.shape

(75165, 20)

In [22]:
# There is unwanted whitespace in the "NOMBRE" column let's clean it
def clean_space(row):
  return row.strip()

df.NOMBRE = df.NOMBRE.apply(clean_space)

In [23]:
# There are a few companies and values that are not properly written (this aims to fix that)
df.loc[4, "NOMBRE"] = 'CONSORCIO ECUATORIANO DE TELECOMUNICACIONES CONECEL' 
df.loc[16, "NOMBRE"] = 'UNION CEMENTERA NACIONAL, UCEM' 
df.loc[26, "NOMBRE"] = 'EMPACADORA GRUPO GRANMAR EMPAGRAN' 
df.loc[49, "NOMBRE"] = 'MAQUINARIAS Y VEHICULOS MAVESA' 
df.loc[83, "NOMBRE"] = 'CARTONES NACIONALES I CARTOPEL'
df.loc[88, "NOMBRE"] = 'FABRICA DE ENVASES FADESA'
df.loc[92, "NOMBRE"] = 'AUTOMOTORES Y ANEXOS (A.Y.A.)'
df.loc[102, "NOMBRE"] = 'AB INBEV HOLDING ECUADOR AB-INBEV S.'
df.loc[0, "INGRESOS POR VENTA2020"] = '2,170,602,774'
df.loc[4, "INGRESOS POR VENTA2020"] = '1,066,241,897'
df.loc[7, "INGRESOS POR VENTA2020"] = '1,249,085,559'
df.loc[0, "INGRESOS POR VENTA2020"]

'2,170,602,774'

In [24]:
# Cleaning sector column
def clean_sector(row):
  if(row == "MERCADO DE "):
    return "MERCADO DE VALORES"
  return row

df["SECTOR"] = df["SECTOR"].apply(clean_sector)
df.SECTOR.unique()

array(['MERCADO DE VALORES', 'SOCIETARIO'], dtype=object)

In [25]:
# Cleaning tamaño column
def clean_tamano(row):
  if(row == "MICROEMPRES"):
    return "MICROEMPRESA"
  return row

df["TAMAÑO"] = df["TAMAÑO"].apply(clean_tamano)
df.TAMAÑO.unique()

array(['GRANDE', 'MEDIANA', 'MICROEMPRESA', 'PEQUEÑA'], dtype=object)

In [26]:
# Writing the correct amount of employees for "El Rosado" (also gathered from SuperCias)
df.loc[8, "CANT. EMPLEADOS"] = 7334
df.loc[8]

2020                                                                        8.0
2019                                                                          9
EXPEDIENTE                                                               2913.0
NOMBRE                                                    CORPORACION EL ROSADO
TIPO COMPAÑIA                                                           ANÓNIMA
ACTIVIDAD ECONÓMICA           G4711.01 - VENTA AL POR MENOR DE GRAN VARIEDAD...
REGION                                                                    COSTA
PROVINCIA                     GUAYAS                                        ...
CIUDAD                        GUAYAQUIL                                     ...
TAMAÑO                                                                   GRANDE
SECTOR                                                       MERCADO DE VALORES
CANT. EMPLEADOS                                                            7334
ACTIVO2020                                                       754,024,531.84
PATRIMONIO2020                                                    283,755,098.2
INGRESOS POR VENTA2020                                           1,249,085,559.
UTILIDAD ANTES DE 2020                                            39,246,084.65
UTILIDAD DEL EJERCICIO2020                                        46,171,864.30
UTILIDAD NETA2020                                                 27,622,934.68
IR CAUSADO2020                                                    11,328,623.69
INGRESO TOTAL2020                                              1,265,116,683.48
Name: 8, dtype: object

In [27]:
df.head()

,2020,2019,EXPEDIENTE,NOMBRE,TIPO COMPAÑIA,ACTIVIDAD ECONÓMICA,REGION,PROVINCIA,CIUDAD,TAMAÑO,SECTOR,CANT. EMPLEADOS,ACTIVO2020,PATRIMONIO2020,INGRESOS POR VENTA2020,UTILIDAD ANTES DE 2020,UTILIDAD DEL EJERCICIO2020,UTILIDAD NETA2020,IR CAUSADO2020,INGRESO TOTAL2020
0,1.0,1,384.0,CORPORACION FAVORITA C.A.,ANÓNIMA,G4711.01 - VENTA AL POR MENOR DE GRAN VARIEDAD...,SIERRA,PICHINCHA ...,QUITO ...,GRANDE,MERCADO DE VALORES,"10,768.00","2,121,860,458.59","1,482,973,135.","2,170,602,774","187,168,402.3","220,198,120.31","147,499,234.25","41,971,212.00","2,170,602,774.93"
1,2.0,4,6796.0,ECUACORRIENTE,ANÓNIMA,B0729.01 - EXTRACCIÓN Y PREPARACIÓN DE MINERAL...,ORIENTE,ZAMORA CHINCHIPE ...,EL PANGUI ...,GRANDE,SOCIETARIO,966.00,"1,607,423,376.00","568,986,647.0",0.00,"-1,387,158.70",0.00,"-2,633,855.70","1,246,697.02",0.00
2,3.0,3,93144.0,AURELIAN ECUADOR,ANÓNIMA,B0899.09 - EXTRACCIÓN DE OTROS MINERALES: ASBE...,ORIENTE,ZAMORA CHINCHIPE ...,LOS ENCUENTROS ...,GRANDE,SOCIETARIO,"1,451.00","1,599,727,165.00","605,293,529.0","358,792,587.0","-49,399,080.0","-49,399,080.00","-49,399,080.00",0.00,"358,823,965.00"
3,4.0,2,705547.0,SHAYA ECUADOR,ANÓNIMA,B0910.01 - ACTIVIDADES DE SERVICIOS DE EXTRACC...,SIERRA,PICHINCHA ...,QUITO ...,GRANDE,SOCIETARIO,92.00,"1,354,952,445.00","786,817,297.0","669,076,072.0","179,317,070.0","210,961,259.00","133,709,258.00","45,607,812.10","669,076,072.00"
4,5.0,5,47845.0,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES CO...,ANÓNIMA,"J6120.01 - OPERACIÓN, MANTENIMIENTO O FACILITA...",COSTA,GUAYAS ...,GUAYAQUIL ...,GRANDE,SOCIETARIO,"2,844.00","1,217,718,379.00","264,709,114.0","1,066,241,897","174,644,376.0","204,823,940.00","106,826,750.00","67,817,626.00","1,071,561,214.00"

In [28]:
# Type conversions
df['CANT. EMPLEADOS'] = df['CANT. EMPLEADOS'].str.replace(',','')
df['CANT. EMPLEADOS'] = pd.to_numeric(df['CANT. EMPLEADOS'])
df['UTILIDAD NETA2020'] = df['UTILIDAD NETA2020'].str.replace(',','')
df['UTILIDAD NETA2020'] = pd.to_numeric(df['UTILIDAD NETA2020'])
df['ACTIVO2020'] = df['ACTIVO2020'].str.replace(',','')
df['ACTIVO2020'] = pd.to_numeric(df['ACTIVO2020'])

df['PATRIMONIO2020'] = df['PATRIMONIO2020'].str.replace(',','')
df['PATRIMONIO2020'] = pd.to_numeric(df['PATRIMONIO2020'])
df['INGRESOS POR VENTA2020'] = df['INGRESOS POR VENTA2020'].str.replace(',','')
df['INGRESOS POR VENTA2020'] = pd.to_numeric(df['INGRESOS POR VENTA2020'])
df['UTILIDAD ANTES DE 2020'] = df['UTILIDAD ANTES DE 2020'].str.replace(',','')
df['UTILIDAD ANTES DE 2020'] = pd.to_numeric(df['UTILIDAD ANTES DE 2020'])
df['UTILIDAD DEL EJERCICIO2020'] = df['UTILIDAD DEL EJERCICIO2020'].str.replace(',','')
df['UTILIDAD DEL EJERCICIO2020'] = pd.to_numeric(df['UTILIDAD DEL EJERCICIO2020'])
df['IR CAUSADO2020'] = df['IR CAUSADO2020'].str.replace(',','')
df['IR CAUSADO2020'] = pd.to_numeric(df['IR CAUSADO2020'])
df['INGRESO TOTAL2020'] = df['INGRESO TOTAL2020'].str.replace(',','')
df['INGRESO TOTAL2020'] = pd.to_numeric(df['INGRESO TOTAL2020'])

In [29]:
# Drop companies with no registeres sales during the year
df[df['INGRESOS POR VENTA2020']== 0]

,2020,2019,EXPEDIENTE,NOMBRE,TIPO COMPAÑIA,ACTIVIDAD ECONÓMICA,REGION,PROVINCIA,CIUDAD,TAMAÑO,SECTOR,CANT. EMPLEADOS,ACTIVO2020,PATRIMONIO2020,INGRESOS POR VENTA2020,UTILIDAD ANTES DE 2020,UTILIDAD DEL EJERCICIO2020,UTILIDAD NETA2020,IR CAUSADO2020,INGRESO TOTAL2020
1,2.0,4,6796.0,ECUACORRIENTE,ANÓNIMA,B0729.01 - EXTRACCIÓN Y PREPARACIÓN DE MINERAL...,ORIENTE,ZAMORA CHINCHIPE ...,EL PANGUI ...,GRANDE,SOCIETARIO,966.0,1.607423e+09,568986647.0,0.0,-1387158.70,0.00,-2633855.70,1246697.02,0.00
30,30.0,30,118480.0,AMOVECUADOR,ANÓNIMA,"J6120.01 - OPERACIÓN, MANTENIMIENTO O FACILITA...",SIERRA,PICHINCHA ...,QUITO ...,MICROEMPRESA,SOCIETARIO,3.0,3.667390e+08,362182715.0,0.0,-1063675.60,-1063675.60,-1063675.60,0.00,12.17
47,46.0,63,79223.0,MANESIL,ANÓNIMA,K6420.00 - ACTIVIDADES DE SOCIEDADES DE CARTER...,COSTA,GUAYAS ...,GUAYAQUIL ...,GRANDE,SOCIETARIO,6.0,2.713692e+08,271159324.0,0.0,0.00,20997200.89,0.00,0.00,21014161.00
68,66.0,83,147928.0,SASETAF,ANÓNIMA,K6430.10 - ACTIVIDADES DE ENTIDADES JURÍDICAS ...,COSTA,GUAYAS ...,GUAYAQUIL ...,GRANDE,SOCIETARIO,4.0,2.147291e+08,214728751.0,0.0,17421811.70,17421811.68,17421811.70,0.00,17649900.00
95,92.0,112,202176.0,CONSENSOCORP,ANÓNIMA,K6420.00 - ACTIVIDADES DE SOCIEDADES DE CARTER...,SIERRA,AZUAY ...,CUENCA ...,GRANDE,SOCIETARIO,2.0,1.592762e+08,159098388.0,0.0,4173980.24,4173980.24,4173980.24,0.00,5756472.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79039,75647.0,-,734234.0,FMOTOR C.L.,RESPONSABILIDAD LIMITADA,G4510.01 - VENTA DE VEHÍCULOS NUEVOS Y USADOS:...,COSTA,GUAYAS ...,GUAYAQUIL ...,MICROEMPRESA,SOCIETARIO,4.0,NaN,0.0,0.0,0.00,0.00,0.00,0.00,0.00
79040,75648.0,-,734328.0,AGROMORENO CIA.LTDA.,RESPONSABILIDAD LIMITADA,A0122.01 - CULTIVO DE BANANOS Y PLÁTANOS.,SIERRA,AZUAY ...,CUENCA ...,MICROEMPRESA,SOCIETARIO,5.0,NaN,0.0,0.0,0.00,0.00,0.00,0.00,0.00
79041,75649.0,-,734435.0,SUNINVEST CIA.LTDA.,RESPONSABILIDAD LIMITADA,K6420.00 - ACTIVIDADES DE SOCIEDADES DE CARTER...,SIERRA,AZUAY ...,CUENCA ...,MICROEMPRESA,SOCIETARIO,2.0,NaN,0.0,0.0,0.00,0.00,0.00,0.00,0.00
79042,75650.0,-,734896.0,INNOMED-QRS CIA.LTDA.,RESPONSABILIDAD LIMITADA,P8549.11 - ACTIVIDADES DE ENSEÑANZA QUE NO PUE...,SIERRA,PICHINCHA ...,QUITO ...,MICROEMPRESA,SOCIETARIO,2.0,NaN,400.0,0.0,0.00,0.00,0.00,0.00,0.00
79043,75651.0,7949,735411.0,ECUADORIANTRANSACTION,ANÓNIMA,G4690.00 - VENTA AL POR MAYOR DE DIVERSOS PROD...,SIERRA,PICHINCHA ...,QUITO ...,MICROEMPRESA,SOCIETARIO,3.0,NaN,0.0,0.0,0.00,0.00,0.00,0.00,0.00

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75165 entries, 0 to 79043
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   2020                        75165 non-null  float64
 1   2019                        75165 non-null  object
 2   EXPEDIENTE                  75165 non-null  float64
 3   NOMBRE                      75165 non-null  object
 4   TIPO COMPAÑIA               75165 non-null  object
 5   ACTIVIDAD ECONÓMICA         75165 non-null  object
 6   REGION                      75165 non-null  object
 7   PROVINCIA                   75165 non-null  object
 8   CIUDAD                      75165 non-null  object
 9   TAMAÑO                      75165 non-null  object
 10  SECTOR                      75165 non-null  object
 11  CANT. EMPLEADOS             75164 non-null  float64
 12  ACTIVO2020                  62489 non-null  float64
 13  PATRIMONIO2020              75165 non-null  float64
 14  INGRESOS POR VENTA2020      75165 non-null  float64
 15  UTILIDAD ANTES DE 2020      75165 non-null  float64
 16  UTILIDAD DEL EJERCICIO2020  75165 non-null  float64
 17  UTILIDAD NETA2020           75165 non-null  float64
 18  IR CAUSADO2020              75165 non-null  float64
 19  INGRESO TOTAL2020           75165 non-null  float64
dtypes: float64(11), object(9)
memory usage: 14.1+ MB

In [117]:
df.to_csv('clean_supercias.csv', index=False)