In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Data/top100.csv')
df = df[["NOMBRE", "LINK"]]
df.head()

,NOMBRE,LINK
0,CORPORACION FAVORITA C.A.,https://ec.linkedin.com/company/corporacionfav...
1,ECUACORRIENTE,https://www.linkedin.com/company/ecuacorriente...
2,AURELIAN ECUADOR,https://www.linkedin.com/company/lundin-gold/?...
3,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES C...,https://ec.linkedin.com/company/conecel?trk=co...
4,CORPORACION QUIPORT,https://ec.linkedin.com/company/quiport?trk=co...

In [4]:
# There is unwanted whitespace in the "NOMBRE" column let's clean it
def clean_space(row):
  return row.strip()

df.NOMBRE = df.NOMBRE.apply(clean_space)

In [5]:
df.head()

,NOMBRE,LINK
0,CORPORACION FAVORITA C.A.,https://ec.linkedin.com/company/corporacionfav...
1,ECUACORRIENTE,https://www.linkedin.com/company/ecuacorriente...
2,AURELIAN ECUADOR,https://www.linkedin.com/company/lundin-gold/?...
3,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES C...,https://ec.linkedin.com/company/conecel?trk=co...
4,CORPORACION QUIPORT,https://ec.linkedin.com/company/quiport?trk=co...

In [21]:
# There are some companies that need a little spelling correction
df.loc[3, "NOMBRE"] = 'CONSORCIO ECUATORIANO DE TELECOMUNICACIONES CONECEL' 
df.loc[21, "NOMBRE"] = 'EMPACADORA GRUPO GRANMAR EMPAGRAN'
df.loc[38, "NOMBRE"] = 'MAQUINARIAS Y VEHICULOS MAVESA'
df.loc[65, "NOMBRE"] = 'CARTONES NACIONALES I CARTOPEL'
df.loc[70, "NOMBRE"] = 'FABRICA DE ENVASES FADESA'
df.loc[73, "NOMBRE"] = 'AUTOMOTORES Y ANEXOS (A.Y.A.)'
df.loc[79, "NOMBRE"] = 'AB INBEV HOLDING ECUADOR AB-INBEV S.'
df.loc[79, "NOMBRE"]

'AB INBEV HOLDING ECUADOR AB-INBEV S.'

In [22]:
df.to_csv('clean_top100.csv')