In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/rankingSuperCias.csv', sep=';', encoding='latin') 
df.head()

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,2020,2019,EXPEDIENTE,NOMBRE,TIPO COMPAÑIA,ACTIVIDAD ECONÓMICA,REGION,PROVINCIA,CIUDAD,TAMAÑO,SECTOR,CANT. EMPLEADOS,ACTIVO2020,PATRIMONIO2020,INGRESOS POR VENTA2020,UTILIDAD ANTES DE 2020,UTILIDAD DEL EJERCICIO2020,UTILIDAD NETA2020,IR CAUSADO2020,INGRESO TOTAL2020
0,1.0,1,384.0,CORPORACION FAVORITA C.A.,ANÓNIMA,G4711.01 - VENTA AL POR MENOR DE GRAN VARIEDAD...,SIERRA,PICHINCHA ...,QUITO ...,GRANDE,MERCADO DE VALORES,"10,768.00","2,121,860,458.59","1,482,973,135.","2,170,602,774.","187,168,402.3","220,198,120.31","147,499,234.25","41,971,212.00","2,170,602,774.93"
1,2.0,4,6796.0,ECUACORRIENTE,ANÓNIMA,B0729.01 - EXTRACCIÓN Y PREPARACIÓN DE MINERAL...,ORIENTE,ZAMORA CHINCHIPE ...,EL PANGUI ...,GRANDE,SOCIETARIO,966.00,"1,607,423,376.00","568,986,647.0",0.00,"-1,387,158.70",0.00,"-2,633,855.70","1,246,697.02",0.00
2,3.0,3,93144.0,AURELIAN ECUADOR,ANÓNIMA,B0899.09 - EXTRACCIÓN DE OTROS MINERALES: ASBE...,ORIENTE,ZAMORA CHINCHIPE ...,LOS ENCUENTROS ...,GRANDE,SOCIETARIO,"1,451.00","1,599,727,165.00","605,293,529.0","358,792,587.0","-49,399,080.0","-49,399,080.00","-49,399,080.00",0.00,"358,823,965.00"
3,4.0,2,705547.0,SHAYA ECUADOR,ANÓNIMA,B0910.01 - ACTIVIDADES DE SERVICIOS DE EXTRACC...,SIERRA,PICHINCHA ...,QUITO ...,GRANDE,SOCIETARIO,92.00,"1,354,952,445.00","786,817,297.0","669,076,072.0","179,317,070.0","210,961,259.00","133,709,258.00","45,607,812.10","669,076,072.00"
4,5.0,5,47845.0,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES ...,ANÓNIMA,"J6120.01 - OPERACIÓN, MANTENIMIENTO O FACILITA...",COSTA,GUAYAS ...,GUAYAQUIL ...,GRANDE,SOCIETARIO,"2,844.00","1,217,718,379.00","264,709,114.0","1,066,241,897.","174,644,376.0","204,823,940.00","106,826,750.00","67,817,626.00","1,071,561,214.00"

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75165 entries, 0 to 79043
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   2020                        75165 non-null  float64
 1   2019                        75165 non-null  object
 2   EXPEDIENTE                  75165 non-null  float64
 3   NOMBRE                      75165 non-null  object
 4   TIPO COMPAÑIA               75165 non-null  object
 5   ACTIVIDAD ECONÓMICA         75165 non-null  object
 6   REGION                      75165 non-null  object
 7   PROVINCIA                   75165 non-null  object
 8   CIUDAD                      75165 non-null  object
 9   TAMAÑO                      75165 non-null  object
 10  SECTOR                      75165 non-null  object
 11  CANT. EMPLEADOS             75164 non-null  float64
 12  ACTIVO2020                  75165 non-null  object
 13  PATRIMONIO2020              75165 non-null  object
 14  INGRESOS POR VENTA2020      75165 non-null  object
 15  UTILIDAD ANTES DE 2020      75165 non-null  object
 16  UTILIDAD DEL EJERCICIO2020  75165 non-null  object
 17  UTILIDAD NETA2020           75165 non-null  object
 18  IR CAUSADO2020              75165 non-null  object
 19  INGRESO TOTAL2020           75165 non-null  object
dtypes: float64(3), object(17)
memory usage: 14.1+ MB

In [3]:
df.dropna(inplace=True)
df.shape

(75165, 20)

In [4]:
# There is unwanted whitespace in the "NOMBRE" column let's clean it
def clean_space(row):
  return row.strip()

df.NOMBRE = df.NOMBRE.apply(clean_space)

In [5]:
# There are some companies that are not properly written (this aims to fix that)
df.loc[4, "NOMBRE"] = 'CONSORCIO ECUATORIANO DE TELECOMUNICACIONES CONECEL' 
df.loc[16, "NOMBRE"] = 'UNION CEMENTERA NACIONAL, UCEM' 
df.loc[26, "NOMBRE"] = 'EMPACADORA GRUPO GRANMAR EMPAGRAN' 
df.loc[49, "NOMBRE"] = 'MAQUINARIAS Y VEHICULOS MAVESA' 
df.loc[83, "NOMBRE"] = 'CARTONES NACIONALES I CARTOPEL'
df.loc[88, "NOMBRE"] = 'FABRICA DE ENVASES FADESA'
df.loc[92, "NOMBRE"] = 'AUTOMOTORES Y ANEXOS (A.Y.A.)'
df.loc[102, "NOMBRE"] = 'AB INBEV HOLDING ECUADOR AB-INBEV S.'
df.loc[102, "NOMBRE"]

'AB INBEV HOLDING ECUADOR AB-INBEV S.'

In [6]:
# Cleaning sector column
def clean_sector(row):
  if(row == "MERCADO DE "):
    return "MERCADO DE VALORES"
  return row

df["SECTOR"] = df["SECTOR"].apply(clean_sector)
df.SECTOR.unique()

array(['MERCADO DE VALORES', 'SOCIETARIO'], dtype=object)

In [7]:
# Cleaning tamaño column
def clean_tamano(row):
  if(row == "MICROEMPRES"):
    return "MICROEMPRESA"
  return row

df["TAMAÑO"] = df["TAMAÑO"].apply(clean_tamano)
df.TAMAÑO.unique()

array(['GRANDE', 'MEDIANA', 'MICROEMPRESA', 'PEQUEÑA'], dtype=object)

In [8]:
# Writing the correct amount of employees for "El Rosado" (also gathered from SuperCias)
df.loc[8, "CANT. EMPLEADOS"] = 7334
df.loc[8]

2020                                                                        8.0
2019                                                                          9
EXPEDIENTE                                                               2913.0
NOMBRE                                                    CORPORACION EL ROSADO
TIPO COMPAÑIA                                                           ANÓNIMA
ACTIVIDAD ECONÓMICA           G4711.01 - VENTA AL POR MENOR DE GRAN VARIEDAD...
REGION                                                                    COSTA
PROVINCIA                     GUAYAS                                        ...
CIUDAD                        GUAYAQUIL                                     ...
TAMAÑO                                                                   GRANDE
SECTOR                                                       MERCADO DE VALORES
CANT. EMPLEADOS                                                            7334
ACTIVO2020                                                       754,024,531.84
PATRIMONIO2020                                                    283,755,098.2
INGRESOS POR VENTA2020                                           1,249,085,559.
UTILIDAD ANTES DE 2020                                            39,246,084.65
UTILIDAD DEL EJERCICIO2020                                        46,171,864.30
UTILIDAD NETA2020                                                 27,622,934.68
IR CAUSADO2020                                                    11,328,623.69
INGRESO TOTAL2020                                              1,265,116,683.48
Name: 8, dtype: object

In [12]:
# Type conversion
df['CANT. EMPLEADOS'] = df['CANT. EMPLEADOS'].str.replace(',','')
df['CANT. EMPLEADOS'] = pd.to_numeric(df['CANT. EMPLEADOS'])

AttributeError: Can only use .str accessor with string values!

In [14]:
df.to_csv('clean_supercias.csv', index=False)