In [42]:
import pandas as pd
df1 = pd.read_csv('where_they_studied1.csv')
df2 = pd.read_csv('where_they_studied2.csv')

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Columns: 290 entries, Unnamed: 0 to Universidad Tecnológica de Bolívar
dtypes: float64(282), object(8)
memory usage: 208.6+ KB

In [44]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 44 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Unnamed: 0                                              6 non-null      object
 1   Universidad de Guayaquil                                5 non-null      float64
 2   Escuela Superior Politécnica del Litoral                4 non-null      float64
 3   Universidad Católica de Santiago de Guayaquil           5 non-null      float64
 4   Universidad Politécnica Salesiana                       6 non-null      int64
 5   Universidad Laica 'Vicente Rocafuerte de Guayaquil      4 non-null      float64
 6   Universidad Espíritu Santo                              3 non-null      float64
 7   Universidad Técnica Particular de Loja                  5 non-null      float64
 8   Universidad Central del Ecuador                         3 non-null      float64
 9   Universidad ECOTEC                                      1 non-null      float64
 10  Universidad Casa Grande                                 1 non-null      float64
 11  Tecnológico de Monterrey                                4 non-null      float64
 12  UNIVERSIDAD UTE                                         3 non-null      float64
 13  Universidad Técnica Federico Santa María                1 non-null      float64
 14  Universidad Internacional del Ecuador                   2 non-null      float64
 15  UNIR - La Universidad en Internet                       2 non-null      float64
 16  Universidad Estatal de Milagro                          2 non-null      float64
 17  Servicio Nacional de Aprendizaje (SENA)                 2 non-null      float64
 18  IDE Business School                                     1 non-null      float64
 19  Universidad Agraria del Ecuador                         1 non-null      float64
 20  INCAE Business School                                   1 non-null      float64
 21  Universidad del Valle (CO)                              1 non-null      float64
 22  Universitat de Barcelona                                2 non-null      float64
 23  Universidad de las Fuerzas Armadas - ESPE               2 non-null      float64
 24  Escuela Politécnica Nacional                            2 non-null      float64
 25  Pontificia Universidad Católica del Ecuador             2 non-null      float64
 26  Universidad de Las Américas (EC)                        2 non-null      float64
 27  Universidad Internacional SEK                           2 non-null      float64
 28  UNIVERSIDAD LAICA ELOY ALFARO DE MANABI                 2 non-null      float64
 29  Universidad San Francisco de Quito                      2 non-null      float64
 30  Universidad de Viña del Mar                             1 non-null      float64
 31  Universidad Andina Simón Bolívar Ecuador                1 non-null      float64
 32  Bond University                                         1 non-null      float64
 33  Universitat Politècnica de Catalunya                    1 non-null      float64
 34  University of Westminster                               1 non-null      float64
 35  Rollins College                                         1 non-null      float64
 36  University of Miami Herbert Business School             1 non-null      float64
 37  Universidad Austral de Chile                            1 non-null      float64
 38  Universidad de Los Lagos                                1 non-null      float64
 39  Universidad de Santiago de Chile                        1 non-null      float64
 40  Universidad Estatal Penìnsula de Santa Elena            1 non-null      float64
 41  Universidad Nacional Experimental Francisco de Miranda  1 non-null      float64
 42  Universidad 'Santa María'                               1 non-null      float64
 43  ESPAE Graduate School of Management - ESPOL             1 non-null      float64
dtypes: float64(42), int64(1), object(1)
memory usage: 2.2+ KB

In [45]:
df = pd.concat([df1, df2], sort=False)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 0 to 5
Columns: 299 entries, Unnamed: 0 to Universidad Nacional Experimental Francisco de Miranda
dtypes: float64(291), object(8)
memory usage: 229.7+ KB

In [47]:
df

,Unnamed: 0,Universidad de Guayaquil,Universidad de Las Américas (EC),Universidad Politécnica Salesiana,Universidad Técnica Particular de Loja,Universidad Central del Ecuador,UNIVERSIDAD UTE,Universidad de las Fuerzas Armadas - ESPE,Universidad Internacional del Ecuador,Universidad Católica de Santiago de Guayaquil,...,Universidad Tecnológica de Bolívar,Universidad del Valle (CO),Bond University,University of Westminster,Rollins College,University of Miami Herbert Business School,Universidad Austral de Chile,Universidad de Los Lagos,Universidad de Santiago de Chile,Universidad Nacional Experimental Francisco de Miranda
0,CORPORACION FAVORITA C.A.,40.0,37.0,35.0,31.0,30.0,30.0,28.0,21.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES C...,80.0,NaN,17.0,13.0,10.0,11.0,18.0,NaN,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CORPORACION EL ROSADO,217.0,NaN,27.0,24.0,11.0,NaN,NaN,NaN,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HIDALGO E HIDALGO,12.0,NaN,NaN,11.0,4.0,NaN,4.0,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OTECEL,5.0,4.0,NaN,3.0,6.0,3.0,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,SOCIEDAD AGRICOLA E INDUSTRIAL SAN CARLOS SA,30.0,NaN,8.0,7.0,NaN,NaN,NaN,NaN,25.0,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ICESA,15.0,7.0,6.0,10.0,18.0,6.0,9.0,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INDEUREC,34.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
4,LIMBOMAR,4.0,NaN,3.0,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0
5,CASABACA,NaN,5.0,14.0,11.0,19.0,15.0,8.0,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df.fillna(0)

,Unnamed: 0,Universidad de Guayaquil,Universidad de Las Américas (EC),Universidad Politécnica Salesiana,Universidad Técnica Particular de Loja,Universidad Central del Ecuador,UNIVERSIDAD UTE,Universidad de las Fuerzas Armadas - ESPE,Universidad Internacional del Ecuador,Universidad Católica de Santiago de Guayaquil,...,Universidad Tecnológica de Bolívar,Universidad del Valle (CO),Bond University,University of Westminster,Rollins College,University of Miami Herbert Business School,Universidad Austral de Chile,Universidad de Los Lagos,Universidad de Santiago de Chile,Universidad Nacional Experimental Francisco de Miranda
0,CORPORACION FAVORITA C.A.,40.0,37.0,35.0,31.0,30.0,30.0,28.0,21.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES C...,80.0,0.0,17.0,13.0,10.0,11.0,18.0,0.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,CORPORACION EL ROSADO,217.0,0.0,27.0,24.0,11.0,0.0,0.0,0.0,66.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,HIDALGO E HIDALGO,12.0,0.0,0.0,11.0,4.0,0.0,4.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,OTECEL,5.0,4.0,0.0,3.0,6.0,3.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,SOCIEDAD AGRICOLA E INDUSTRIAL SAN CARLOS SA,30.0,0.0,8.0,7.0,0.0,0.0,0.0,0.0,25.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ICESA,15.0,7.0,6.0,10.0,18.0,6.0,9.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,INDEUREC,34.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
4,LIMBOMAR,4.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
5,CASABACA,0.0,5.0,14.0,11.0,19.0,15.0,8.0,27.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
df.to_csv('where_they_studied.csv')