In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('../Datasets/clean_top100.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   NOMBRE                      100 non-null    object
 1   LINK                        100 non-null    object
 2   2020                        100 non-null    float64
 3   2019                        100 non-null    object
 4   EXPEDIENTE                  100 non-null    float64
 5   TIPO COMPAÑIA               100 non-null    object
 6   ACTIVIDAD ECONÓMICA         100 non-null    object
 7   REGION                      100 non-null    object
 8   PROVINCIA                   100 non-null    object
 9   CIUDAD                      100 non-null    object
 10  TAMAÑO                      100 non-null    object
 11  SECTOR                      100 non-null    object
 12  CANT. EMPLEADOS             100 non-null    float64
 13  ACTIVO2020                  100 non-null    float64
 14  PATRIMONIO2020              100 non-null    float64
 15  INGRESOS POR VENTA2020      100 non-null    float64
 16  UTILIDAD ANTES DE 2020      100 non-null    float64
 17  UTILIDAD DEL EJERCICIO2020  100 non-null    float64
 18  UTILIDAD NETA2020           100 non-null    float64
 19  IR CAUSADO2020              100 non-null    float64
 20  INGRESO TOTAL2020           100 non-null    float64
dtypes: float64(11), object(10)
memory usage: 16.5+ KB

In [14]:
df['ACTIVIDAD ECONÓMICA'].nunique()

65

In [15]:
# industries = [
#     "Farmaceutica",
#     "Manufactura",
#     "Automotriz",
#     "Agricultura/Agropecuaria",
#     "Telecomunicaciones/Informática",
#     "Logística/Transporte",
#     "Minería",
#     "Minoristas",
#     "Mayoristas",
#     "Construcción",
#     "Otro"
# ]

In [16]:

# for index, row in df_industries.iterrows():
#     print(*enumerate(industries), sep='\n')
#     print(row[0])
#     opt = int(input("Select the option: "))
#     df_industries.loc[index, "INDUSTRIA"] = industries[opt]

In [17]:
df_old_to_new_industries = pd.read_csv('./Data/old_industries_to_new_industries.csv', index_col=0)

In [18]:
df_old_to_new_industries

,ACTIVIDAD ECONÓMICA,INDUSTRIA
0,G4711.01 - VENTA AL POR MENOR DE GRAN VARIEDAD...,Minoristas
1,B0729.01 - EXTRACCIÓN Y PREPARACIÓN DE MINERAL...,Minería
2,B0899.09 - EXTRACCIÓN DE OTROS MINERALES: ASBE...,Minería
3,"J6120.01 - OPERACIÓN, MANTENIMIENTO O FACILITA...",Telecomunicaciones/Informática
4,M7020.04 - PRESTACIÓN DE ASESORAMIENTO Y AYUDA...,Logística/Transporte
...,...,...
60,C2100.01 - FABRICACIÓN DE SUSTANCIAS MEDICINAL...,Farmaceutica
61,C1020.02 - PREPARACIÓN Y CONSERVACIÓN DE PESCA...,Agricultura/Agropecuaria
62,G4669.21 - VENTA AL POR MAYOR DE MATERIALES PL...,Manufactura
63,C2732.01 - FABRICACIÓN DE HILOS Y CABLES AISLA...,Manufactura
64,G4651.01 - VENTA AL POR MAYOR DE COMPUTADORAS ...,Mayoristas

In [19]:
df_old_to_new_industries['INDUSTRIA'].value_counts()

Manufactura                       24
Mayoristas                         9
Agricultura/Agropecuaria           6
Minería                            5
Telecomunicaciones/Informática     4
Construcción                       4
Farmaceutica                       3
Logística/Transporte               3
Otro                               3
Automotriz                         2
Minoristas                         2
Name: INDUSTRIA, dtype: int64

In [20]:
final_df = pd.merge(df, df_old_to_new_industries, how="left", on=["ACTIVIDAD ECONÓMICA"])

In [21]:
final_df.groupby('INDUSTRIA')['NOMBRE'].count()

INDUSTRIA
Agricultura/Agropecuaria           9
Automotriz                         5
Construcción                       4
Farmaceutica                       7
Logística/Transporte               3
Manufactura                       29
Mayoristas                        17
Minería                            9
Minoristas                         7
Otro                               5
Telecomunicaciones/Informática     5
Name: NOMBRE, dtype: int64

In [22]:
final_df.to_csv('../Datasets/mainDF.csv', index=False)