In [1]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
df1 = pd.read_csv('universidades.csv', sep=';', encoding='latin')

In [3]:
df1.head()

,DENOMINACION,FINANCIAMIENTO,CATEGORIA,NOMBRE AUTORIDAD,TELEFONO INSTITUCIONAL,CORREO ELECTRONICO,PROVINCIA,CIUDAD,DIRECCION
0,ESCUELA POLITECNICA\nNACIONAL,PUBLICA,A,JAIME ALFONSO\nCALDERON SEGOVIA,2507144 / 2508959,correo.general@epn.edu.ec,PICHINCHA,QUITO,LADRON DE GUEVARA E-11-\n253
1,ESCUELA SUPERIOR POLITECNICA DE CHIMBORAZO,PUBLICA,B,ROSA ELENA PINOS NEIRA,03 2 998-200,info@live.espoch.edu.ec,CHIMBORAZO,RIOBAMBA,PANAMERICANA SUR KM1 1/2 RIOBAMBA ECUADOR
2,ESCUELA SUPERIOR POLITECNICA AGROPECUARIA DE M...,PUBLICA,C,QUINCHE LEONARDO FELIX LOPEZ,"05-2 685-134/156 , ext.\n114, 115; 5-2685048/035",espam@espam.edu.ec,MANABI,CALCETA,10 DE AGOSTO 82 Y GRANDA CENTENO
3,UNIVERSIDAD CENTRAL DEL ECUADOR,PUBLICA,B,FERNANDO EFRAIN SEMPERTEGUI ONTANEDA,2226080 /2521-590,rectorado@ucee.edu.ec; fercempt@viociencias.ce...,PICHINCHA,QUITO,"CIUDADELA UNIVERSITARIA, AV. AMERICA Y PEREZ G..."
4,UNIVERSIDAD DE GUAYAQUIL,PUBLICA,D,HECTOR ROBERTO CASSIS MARTINEZ,"04 2281559, 2296580",ugrector@uge.edu.ec,GUAYAS,GUAYAQUIL,"CIUDADELA UNIVERSITARIA, SALVADOR ALLENDE Y MA..."

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DENOMINACION            59 non-null     object
 1   FINANCIAMIENTO          59 non-null     object
 2   CATEGORIA               55 non-null     object
 3   NOMBRE AUTORIDAD        59 non-null     object
 4   TELEFONO INSTITUCIONAL  59 non-null     object
 5   CORREO ELECTRONICO      58 non-null     object
 6   PROVINCIA               59 non-null     object
 7   CIUDAD                  59 non-null     object
 8   DIRECCION               59 non-null     object
dtypes: object(9)
memory usage: 4.3+ KB

In [41]:
df1['PROVINCIA'].unique().size

18

In [45]:
df1['CIUDAD'].unique()

array(['QUITO', 'RIOBAMBA', 'CALCETA', 'GUAYAQUIL', 'CUENCA', 'LOJA',
       'PORTOVIEJO', 'AMBATO', 'MACHALA', 'ESMERALDAS', 'BABAHOYO',
       'QUEVEDO', 'IBARRA', 'MANTA', 'GUARANDA', 'LATACUNGA',
       'LA LIBERTAD', 'MILAGRO', 'JIPIJAPA', 'SAMBOROND ON', 'PUYO',
       'OTAVALO', 'TULCAN', 'SANGOLQUI', 'TENA', 'URCUQUI', 'AZOGUES'],
      dtype=object)

In [22]:
df = df1[['DENOMINACION','CATEGORIA']].groupby(by=["CATEGORIA"]).count()
df

           DENOMINACION
CATEGORIA
A                     6
B                    23
C                    18
D                     8