## My question

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Datasets/comp_links.csv')
df.head(2)

,NOMBRE,LINK,2020,2019,EXPEDIENTE,TIPO COMPAÑIA,ACTIVIDAD ECONÓMICA,REGION,PROVINCIA,CIUDAD,...,SECTOR,CANT. EMPLEADOS,ACTIVO2020,PATRIMONIO2020,INGRESOS POR VENTA2020,UTILIDAD ANTES DE 2020,UTILIDAD DEL EJERCICIO2020,UTILIDAD NETA2020,IR CAUSADO2020,INGRESO TOTAL2020
0,CORPORACION FAVORITA C.A.,https://ec.linkedin.com/company/corporacionfav...,1.0,1,384.0,ANÓNIMA,G4711.01 - VENTA AL POR MENOR DE GRAN VARIEDAD...,SIERRA,PICHINCHA ...,QUITO ...,...,MERCADO DE VALORES,10768.0,2.121860e+09,"1,482,973,135.","2,170,602,774.","187,168,402.3","220,198,120.31",1.474992e+08,"41,971,212.00","2,170,602,774.93"
1,ECUACORRIENTE,https://www.linkedin.com/company/ecuacorriente...,2.0,4,6796.0,ANÓNIMA,B0729.01 - EXTRACCIÓN Y PREPARACIÓN DE MINERAL...,ORIENTE,ZAMORA CHINCHIPE ...,EL PANGUI ...,...,SOCIETARIO,966.0,1.607423e+09,"568,986,647.0",0.00,"-1,387,158.70",0.00,-2.633856e+06,"1,246,697.02",0.00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   NOMBRE                      100 non-null    object
 1   LINK                        100 non-null    object
 2   2020                        100 non-null    float64
 3   2019                        100 non-null    object
 4   EXPEDIENTE                  100 non-null    float64
 5   TIPO COMPAÑIA               100 non-null    object
 6   ACTIVIDAD ECONÓMICA         100 non-null    object
 7   REGION                      100 non-null    object
 8   PROVINCIA                   100 non-null    object
 9   CIUDAD                      100 non-null    object
 10  TAMAÑO                      100 non-null    object
 11  SECTOR                      100 non-null    object
 12  CANT. EMPLEADOS             99 non-null     float64
 13  ACTIVO2020                  100 non-null    float64
 14  PATRIMONIO2020              100 non-null    object
 15  INGRESOS POR VENTA2020      100 non-null    object
 16  UTILIDAD ANTES DE 2020      100 non-null    object
 17  UTILIDAD DEL EJERCICIO2020  100 non-null    object
 18  UTILIDAD NETA2020           100 non-null    float64
 19  IR CAUSADO2020              100 non-null    object
 20  INGRESO TOTAL2020           100 non-null    object
dtypes: float64(5), object(16)
memory usage: 16.5+ KB

In [4]:
# Calculate ROA (Return on Assets)

def calculate_ROA(row):
  net_profits = row["UTILIDAD NETA2020"]
  total_assets = row.ACTIVO2020
  return ((net_profits/total_assets) * 100)
  


#test= df[["UTILIDAD NETA2020", "ACTIVO2020"]].apply(calculate_ROA, axis=1)
df['ROA'] = df[["UTILIDAD NETA2020", "ACTIVO2020"]].apply(calculate_ROA, axis=1)
#test
df[["NOMBRE", "ROA"]].head(10)

                                              NOMBRE       ROA
0                          CORPORACION FAVORITA C.A.  6.951411
1                                      ECUACORRIENTE -0.163856
2                                   AURELIAN ECUADOR -3.087969
3  CONSORCIO ECUATORIANO DE TELECOMUNICACIONES CO...  8.772698
4                                CORPORACION QUIPORT -3.323227
5                              CORPORACION EL ROSADO  3.663400
6                                  HIDALGO E HIDALGO  3.520079
7                                             OTECEL -2.313952
8     PROCESADORA NACIONAL DE ALIMENTOS C.A. PRONACA  3.620939
9                 INDUSTRIAL PESQUERA SANTA PRISCILA  4.808221

In [5]:
df_uni = pd.read_csv('Datasets/clean_where_they_studied.csv')
df_uni = df_uni[["NOMBRE", "Escuela Superior Politécnica del Litoral"]]
df_uni

,NOMBRE,Escuela Superior Politécnica del Litoral
0,CORPORACION FAVORITA C.A.,14.0
1,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES CO...,86.0
2,CORPORACION EL ROSADO,123.0
3,HIDALGO E HIDALGO,12.0
4,OTECEL,0.0
...,...,...
93,SOCIEDAD AGRICOLA E INDUSTRIAL SAN CARLOS SA,37.0
94,ICESA,0.0
95,INDEUREC,3.0
96,LIMBOMAR,4.0
97,CASABACA,0.0

In [6]:
merged = pd.merge(df, df_uni)
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99 entries, 0 to 98
Data columns (total 23 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   NOMBRE                                    99 non-null     object
 1   LINK                                      99 non-null     object
 2   2020                                      99 non-null     float64
 3   2019                                      99 non-null     object
 4   EXPEDIENTE                                99 non-null     float64
 5   TIPO COMPAÑIA                             99 non-null     object
 6   ACTIVIDAD ECONÓMICA                       99 non-null     object
 7   REGION                                    99 non-null     object
 8   PROVINCIA                                 99 non-null     object
 9   CIUDAD                                    99 non-null     object
 10  TAMAÑO                                    99 non-null     object
 11  SECTOR                                    99 non-null     object
 12  CANT. EMPLEADOS                           98 non-null     float64
 13  ACTIVO2020                                99 non-null     float64
 14  PATRIMONIO2020                            99 non-null     object
 15  INGRESOS POR VENTA2020                    99 non-null     object
 16  UTILIDAD ANTES DE 2020                    99 non-null     object
 17  UTILIDAD DEL EJERCICIO2020                99 non-null     object
 18  UTILIDAD NETA2020                         99 non-null     float64
 19  IR CAUSADO2020                            99 non-null     object
 20  INGRESO TOTAL2020                         99 non-null     object
 21  ROA                                       99 non-null     float64
 22  Escuela Superior Politécnica del Litoral  99 non-null     float64
dtypes: float64(7), object(16)
memory usage: 18.6+ KB

In [7]:
merged.head(5)

,NOMBRE,LINK,2020,2019,EXPEDIENTE,TIPO COMPAÑIA,ACTIVIDAD ECONÓMICA,REGION,PROVINCIA,CIUDAD,...,ACTIVO2020,PATRIMONIO2020,INGRESOS POR VENTA2020,UTILIDAD ANTES DE 2020,UTILIDAD DEL EJERCICIO2020,UTILIDAD NETA2020,IR CAUSADO2020,INGRESO TOTAL2020,ROA,Escuela Superior Politécnica del Litoral
0,CORPORACION FAVORITA C.A.,https://ec.linkedin.com/company/corporacionfav...,1.0,1,384.0,ANÓNIMA,G4711.01 - VENTA AL POR MENOR DE GRAN VARIEDAD...,SIERRA,PICHINCHA ...,QUITO ...,...,2.121860e+09,"1,482,973,135.","2,170,602,774.","187,168,402.3","220,198,120.31",1.474992e+08,"41,971,212.00","2,170,602,774.93",6.951411,14.0
1,ECUACORRIENTE,https://www.linkedin.com/company/ecuacorriente...,2.0,4,6796.0,ANÓNIMA,B0729.01 - EXTRACCIÓN Y PREPARACIÓN DE MINERAL...,ORIENTE,ZAMORA CHINCHIPE ...,EL PANGUI ...,...,1.607423e+09,"568,986,647.0",0.00,"-1,387,158.70",0.00,-2.633856e+06,"1,246,697.02",0.00,-0.163856,0.0
2,AURELIAN ECUADOR,https://www.linkedin.com/company/lundin-gold/?...,3.0,3,93144.0,ANÓNIMA,B0899.09 - EXTRACCIÓN DE OTROS MINERALES: ASBE...,ORIENTE,ZAMORA CHINCHIPE ...,LOS ENCUENTROS ...,...,1.599727e+09,"605,293,529.0","358,792,587.0","-49,399,080.0","-49,399,080.00",-4.939908e+07,0.00,"358,823,965.00",-3.087969,21.0
3,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES CO...,https://ec.linkedin.com/company/conecel?trk=co...,5.0,5,47845.0,ANÓNIMA,"J6120.01 - OPERACIÓN, MANTENIMIENTO O FACILITA...",COSTA,GUAYAS ...,GUAYAQUIL ...,...,1.217718e+09,"264,709,114.0","1,066,241,897.","174,644,376.0","204,823,940.00",1.068268e+08,"67,817,626.00","1,071,561,214.00",8.772698,86.0
4,CORPORACION QUIPORT,https://ec.linkedin.com/company/quiport?trk=co...,7.0,8,93325.0,ANÓNIMA,M7020.04 - PRESTACIÓN DE ASESORAMIENTO Y AYUDA...,SIERRA,PICHINCHA ...,QUITO ...,...,8.140678e+08,"212,852,599.0","17,650,644.20","-27,053,323.0","-27,053,323.10",-2.705332e+07,0.00,"83,530,647.90",-3.323227,0.0